<h1>Listing issues</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.subject %></td>
        <td>
          <ul>
            <% issue.getComments.each do |comment| %>
              <li>Author: <%= comment[:author] %> </li>
              <li><%= comment[:body] %>  </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </:body
</table>

<br>
