<h2> Recently Closed Issues: </h2>
  <table class="table">
    <tbody>
      <% @closed_issues.each do |issue| %>
      <% issue_comments = issue.getComments %>
      <div onclick="location.href='';"  style="cursor:pointer;" >
        <tr href=<%= "https://github.com/#{issue.issue_url}" %> class="issues">
        <td>
<strong><%= issue.author %> </strong>:
            <% issue.getComments.each do |comment| %>
            <%= comment[:body] %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </div>
    </tbody>
  </table>